
@mixin link-colors(
        $normal,
        $visited:$normal,
        $hover:$normal
    )
{
    &:link{color:$normal;}
    &:visited{color:$visited;}
    &:hover{color:$hover;}
}

@mixin ele-colors($focus,$hover,$active){
    &:focus{color:$focus;}  
    &:hover{color:$hover;}
    &:active{color:$active;}
}

$color-stack:
    (group:orange,id:normal,color:#e67835),
    (group:orange,id:pale,color:#f8a878),
    (group:orange,id:dark,color:#ad490c),
    (group:blue,id:normal,color:#426682);

$color-warn:(   
    danger:red,
    medium:green,
    mild:#666,
    fff:#fff
    );

@function getColor($item){
    @if not map-has-key($color-warn,$item){
        @warn "No color found for '#{$color}' in $color-warn map. Property omitted.";
    }
    @return map-get($color-warn,$item);
}

//color function
//group means 
//id unique 
//color value 
@function color($group,$shade:normal,$transparency:1){
    @each $color in $color-stack{
        $c-group:map-get($color,group);
        $c-shade:map-get($color,id);
        @if($group==map-get($color,group) and $shade==map-get($color,id)){
            @return rgba(map-get($color,color),$transparency);
        }
    }
}

//group :font-family's name  eg:brandon serif  clarendon
//id font's unique name 
//font: font-family or 
//weight: font-weight
//style : font-style
$font-stack:
    (group:brandon,id:light,font:('Brandon Grot W01 Light',sans-serif),
        weight:200,style:normal),
    (group:brandon,id:light-italic,font:('Brandon Grot W01 Light',sans-serif),
        weight:200,style:italic),
    (group:brandon,id:regular,font:('Brandon Grot W01-Regular',sans-serif),
        weight:400,style:normal),
    (group:brandon,id:regular-italic,font:('Brandon Grot W01-Regular',sans-serif),
        weight:400,style:italic),
    (group: brandon, id: bold, font:('Brandon Grot W01 Black',sans-serif), 
        weight: 700, style: normal),
    (group: brandon, id: bold-italic, font: ('Brandon Grot W01-Regular', sans-serif), 
        weight: 400, style: italic),
    (group: clarendon, id: regular, font: ('Clarendon LT W01', serif), 
        weight: 200, style: normal),
    (group: code, id: regular, font: (monospace), weight: 400, style: normal);

//breakpoint Mixin
@mixin font($group,$id:regular){ //default value is regular
    @each $font in $font-stack {
        @if($group==map-get($font,group) and $id==map-get($font,id)){
            font-family:map-get($font,font);
            font-weight:map-get($font,weight);
            font-style:map-get($font,style);
        }
    }
}

//media query stack group: 这是媒体查询的组，这有很多个值可以使用，比如 tablet 、 small 和 1400
//id: 媒体查询唯一标识符。这也是唯一的。如 general 、 inbetween 和 exclude 。默认的组一般为 general
//rule: 这是你想要的媒体查询的实际规则。其值要用双引号括起来，否则Sass会报错
$media-stack:
    (group:tablet,id:general,rule:'only screen and (min-device-width:700px)'),
    (group:small,id:general,rule:'only screen and (min-device-width:1100px)'),
    (group:medium,id:inbetween,rule:'only screen and (min-device-width:1100px) and (max-device-width:1400px'),
    (group:large,id:general,rule:'only screen and (min-device-width:1400px)'),
    (group:print,id:general,rule:'only print');

@mixin media($group,$id:general){
    @each $media in $media-stack{
        @if($group == map-get($media,group) and $id==map-get($media,id)){
            $rule:map-get($media,rule);
            @media #($rule) {@content}
        }
    }
}

//float 
@mixin float($side:left){//default left
    float:unquote($side);
    @if $legacy-support-for-ie {//ie 6
        _display:inline;
    }
}
//left float
@mixin pull-left{
    @include float(left);
}

//for extend
%pull-right{
    @include float(left);
}

@mixin pull-right{
    @include float(right);
}

%pull-right{
    @include float(right);
}

//reset float 
@mixin reset-float($display:block){
    float:none;
    display:$display;//reset display also
}
/**
 *usage
 *
 .col{
    @extend %pull-right;
 }
 .aside{
    @include pull-right;
 }

//reset
.content{
    @include reset-float(inline);
}

 */

.warn{
    color:getColor(danger);
}

html{
    width:100%;
    overflow-x:hidden;
}

body{
    margin:0px;
    padding:0px {
        left:30px;
    }
    font-family:serif;
    border:0px;
    width:100%;
    line-height:1.5; 

}

a{
    @include link-colors(
        $normal:blue,
        $visited:red,
        $hover:green);
}




h1,h2,h3,h4{
    @include font(brandon,light-italic);
}
code,pre,tt,span.input{font-family:monospace;}
p{
    font-family:Times,TimesNR,'New Century Schoolbook',Georgia,'New York',serif;
    font-style:italic;
}



.test{
    width:400px;
    background:{
        image:url(../imgs/bgimg.jpg);
        color:silver;
        repeat:no-repeat;
        position:10px 100%;
    }
    padding:10px;
    margin:{
        top:10px;
        bottom:10px;
    }
    border:1px solid;
}
.myFont{
    font:normal small-caps 900 monospace;
    text-indent:4em;
    //padding-left:4em;
    text-align:justify;
    margin:{
        left:10px;
        right:10px;
        top:0;
        bottom:-50px;
    }

}

p span{
    color:red;
    padding:{
        top:10px;
    }
    margin:{
        top:25px;
        bottom:50px;
        left:25px;
    }
    border:{
        style:solid dashed double dotted;
        color:black gray red;
        left:25px double gray;
    }
}

#head{
    font-size: 130%;
    color: #000080;
    text-align:center;
}

.mid1{
font-size:110%;
}

#tips{
    font-size:120%;
    
}



.title{
    font-size:120%;
    color:#0066FF;
}

.imgx{
    width:200px;
    height:350px;
 
}
.imgex{
 position: relative; 
 left: 25%; top: 50%;
}

.imgey{
    position: relative; 
    left: 10%; top: 50%;
}

#icon{
    position: relative; left: 40%; top: 50%;
}

.ui-li-desc{
    white-space:normal;
}

.manual{
    padding: 5px 0;
}
